### Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import violencia_obstetrica.data.export as export
import violencia_obstetrica.data.load as load
import violencia_obstetrica.data.process as process

### Load data

In [3]:
data_cuba = load.data_cuba
directorio = load.data_directorio
tables = load.tables
jsons = load.jsons

### Read data

In [4]:
df = load.load_file(file=data_cuba, sheet="base_limpia")
directorio = load.load_file(file=directorio, sheet="base_limpia")

### Create pivot table

In [17]:
episiotomia = process.create_pivot_tabe(df, values=0, index=27, cols=78)

episiotomia.sample(1)

"De los siguientes procedimientos, marca todos los que se practicaron en tu parto: [Cortes externos para ampliar el canal de parto [episiotomía]]",No,Sí
Nombre del hospital dónde diste a luz,,
Hospital General Docente Dr. Agostinho Neto,2.0,NaN

### Clean pivot table

In [18]:
episiotomia = process.clean_table(episiotomia, col_name="Hospital")

episiotomia[0].sample(1)

                                            Hospital   No  Sí
2  Hospital Clínico Quirúrgico Docente Julio Trig...  1.0 NaN

### Process pivot table

In [19]:
# Delete a column, rename a column and drop their NaN values
episiotomia = process.process_table(episiotomia[0], del_col="No", old_col="Sí", new_col="Episiotomía")

episiotomia[0].sample(1)

/home/fxr/Documents/datacritica/violencia_obstetrica/violencia_obstetrica/data/process.py:70: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  tables[i] = tables[i].drop(del_col, 1).rename(columns={old_col: f'{new_col}{i+1}'})

                                      Hospital  Episiotomía1
25  Hospital Materno Sur (Clínica Los Ángeles)           2.0

### Merge two dataframes based on a column

In [23]:
df_join = process.merge_dataframes(episiotomia[0], directorio, col_name="Hospital", how="left")

df_join.shape

(33, 4)

### Drop NaN values from a column

In [24]:
# Remove rows with NaN values on column
df_join.dropna(subset=['Long'], inplace=True)
# Reset index
df_join = df_join.reset_index(drop=True)

df_join.shape

(30, 4)

### Save dataframe

In [ ]:
# export.save_excel(df_join, folder=tables, filename="episiotomia_hospitales", sheet_name="data")
# export.save_json(df_join, folder=tables, filename="episiotomia_hospitales")