### Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import violencia_obstetrica.data.analyze as analyze
import violencia_obstetrica.data.export as export
import violencia_obstetrica.data.load as load

### Load data

In [3]:
data_cuba = load.data_cuba
directorio = load.data_directorio
tables = load.tables
jsons = load.jsons

### Read data as a dataframe

In [4]:
df = load.load_file(file=data_cuba, sheet="base_limpia")
directorio = load.load_file(file=directorio, sheet="base_limpia")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Columns: 265 entries, ID de respuesta to Temporización de la pregunta: Z06
dtypes: float64(89), int64(6), object(170)
memory usage: 1.0+ MB

### Create pivot tables

In [5]:
# Create pivot tables from columns 90-99
m1, m2, m3, m4, m5, m6, m7, m8, m9, m10 = analyze.create_complex_pivot_table(
    df, values=0, index=27, cols=[90, 91, 92, 93, 94, 95, 96, 97, 98, 99])
m1.sample(1)

"De las siguientes opciones, marca todas las que experimentaste a manos del personal del hospital durante tu proceso de parto: [Te llamaron por sobrenombres o diminutivos (mamita, niña, gorda, negra, etc)]",No,Sí
Nombre del hospital dónde diste a luz,,
Hospital General Universitario Dr. Gustavo Aldereguía Lima (Cienfuegos),3.0,NaN

### Process pivot tables

In [6]:
# Convert index to a column and create new index  
m1, m2, m3, m4, m5, m6, m7, m8, m9, m10 = analyze.set_new_index(
    m1, m2, m3, m4, m5, m6, m7, m8, m9, m10, col_name="Hospital")
# Delete a column
m1, m2, m3, m4, m5, m6, m7, m8, m9, m10 = analyze.del_col(
    m1, m2, m3, m4, m5, m6, m7, m8, m9, m10, col_name="No")
# Rename a column, drop NaN values and reset index
m1, m2, m3, m4, m5, m6, m7, m8, m9, m10 = analyze.prepare_table(
    m1, m2, m3, m4, m5, m6, m7, m8, m9, m10, 
    old_col="Sí", new_col="Maltrato")
m1.sample(1)

                                   Hospital  Maltrato1
6  Hospital General Docente Héroes de Baire        1.0

### Merge dataframes based on a column

In [7]:
maltratos = analyze.merge_dataframes(
   m1, m2, m3, m4, m5, m6, m7, m8, m9, m10, col_name="Hospital" 
)
df_join = analyze.merge_dataframes(maltratos, directorio, col_name="Hospital", how="left")
print(df_join.shape)
# Remove rows with NaN values on column and reset index
df_join = analyze.drop_nan(df_join, col_name='Long')
print(df_join.shape)
df_join.sample(1)
# Save dataframe
# export.save_excel(df_join, folder=tables, filename="maltratos_hospitales", sheet_name="data")
# export.save_json(df_join, folder=tables, filename="maltratos_hospitales")

(30, 13)
(30, 13)

,Hospital,Maltrato1,Maltrato2,Maltrato3,Maltrato4,Maltrato5,Maltrato6,Maltrato7,Maltrato8,Maltrato9,Maltrato10,Long,Lat
7,Hospital General Docente Iván Portuondo,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,1.0,22.893217,-82.504989