### Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [39]:
import pandas as pd
import violencia_obstetrica.data.analyze as analyze
import violencia_obstetrica.data.export as export
import violencia_obstetrica.data.load as load

### Load data

In [40]:
data_cuba = load.data_cuba
directorio = load.data_directorio
tables = load.tables
jsons = load.jsons

### Read data as a dataframe

In [41]:
df = load.load_file(file=data_cuba, sheet="base_limpia")
directorio = load.load_file(file=directorio, sheet="base_limpia")

### Create pivot table

In [42]:
consent = analyze.create_pivot_tabe(df, values=0, index=27, cols=74)
consent.sample(1)

¿Se solicitó tu consentimiento para los procedimientos que te practicaron?,"No, para ninguno","Sí, para algunos","Sí, para todos"
Nombre del hospital dónde diste a luz,,,
Hospital Clínico Quirúrgico Hermanos Ameijeiras (La Habana),NaN,NaN,1.0

### Process pivot table

In [43]:
consent = analyze.set_new_index(consent, col_name="Hospital")
consent = consent[0]
consent.sample(1)

,Hospital,"No, para ninguno","Sí, para algunos","Sí, para todos"
10,Hospital General Docente Comandante Ciro Redon...,NaN,NaN,1.0

### Merge dataframes

In [45]:
df_join = analyze.merge_dataframes(consent, directorio, col_name="Hospital", how="left")
print(df_join.shape)
# Remove rows with NaN values on column and reset index
df_join = analyze.drop_nan(df_join, col_name='Long')
print(df_join.shape)
df_join.sample(1)
# Save dataframe
# export.save_excel(df_join, folder=tables, file="consentimiento_hospitales", sheet="data")
# export.save_json(df_join, folder=tables, file="consentimiento_hospitales")

(49, 6)
(44, 6)

,Hospital,"No, para ninguno","Sí, para algunos","Sí, para todos",Long,Lat
34,Hospital Materno Norte Tamara Bunke,2.0,NaN,NaN,20.035832,-75.817328