### Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import violencia_obstetrica.data.analyze as analyze
import violencia_obstetrica.data.export as export
import violencia_obstetrica.data.load as load

### Load data

In [3]:
data_cuba = load.data_cuba
directorio = load.data_directorio
tables = load.tables
jsons = load.jsons

### Read data as a dataframe

In [4]:
df = load.load_file(file=data_cuba, sheet="base_limpia")
directorio = load.load_file(file=directorio, sheet="base_limpia")

### Create pivot table for `Episiotomía`

In [5]:
""" Create pivot table """
episiotomia = analyze.create_pivot_tabe(df, values=0, index=27, cols=78)

""" Process pivot table """
# Convert index to column and create a new index
episiotomia = analyze.set_new_index(episiotomia, col_name="Hospital")
# Delete a column
episiotomia = analyze.del_col(episiotomia[0], col_name="No")
# Rename a column, drop NaN values and reset index
episiotomia = analyze.prepare_table(episiotomia[0], old_col="Sí", new_col="Episiotomía")

""" Merge dataframes """
df_join = analyze.merge_dataframes(episiotomia[0], directorio, col_name="Hospital", how="left")
print(df_join.shape)

""" Remove NaN values on column and reset index """
df_join = analyze.drop_nan(df_join, col_name='Long')
print(df_join.shape)

""" Save dataframe """
# export.save_excel(df_join, folder=tables, filename="episiotomia_hospitales", sheet_name="data")
# export.save_json(df_join, folder=tables, filename="episiotomia_hospitales")

df_join.sample(1)

(33, 4)
(30, 4)

,Hospital,Episiotomía,Long,Lat
20,Hospital Materno Infantil Lebredo (Arroyo Nara...,3.0,23.055762,-82.360955

### Create pivot table for `Kristeller`

In [6]:
""" Create pivot table """
kristeller = analyze.create_pivot_tabe(df, values=0, index=27, cols=80)

""" Process pivot table """
# Convert index to column and create a new index
kristeller = analyze.set_new_index(kristeller, col_name="Hospital")
# Delete a column
kristeller = analyze.del_col(kristeller[0], col_name="No")
# Rename a column, drop NaN values and reset index
kristeller = analyze.prepare_table(kristeller[0], old_col="Sí", new_col="Kristeller")

""" Merge dataframes """
df_join = analyze.merge_dataframes(kristeller[0], directorio, col_name="Hospital", how="left")
print(df_join.shape)

""" Remove NaN values on column and reset index """
df_join = analyze.drop_nan(df_join, col_name='Long')
print(df_join.shape)

""" Save dataframe """
# export.save_excel(df_join, folder=tables, filename="kristeller_hospitales", sheet_name="data")
# export.save_json(df_join, folder=tables, filename="kristeller_hospitales")

df_join.sample(1)

(33, 4)
(32, 4)

,Hospital,Kristeller,Long,Lat
25,Hospital Materno Sur (Clínica Los Ángeles),2.0,20.02474,-75.821583

### Create pivot table for `Dilatación Manual`

In [7]:
""" Create pivot table """
dilatacion = analyze.create_pivot_tabe(df, values=0, index=27, cols=81)

""" Process pivot table """
# Convert index to column and create a new index
dilatacion = analyze.set_new_index(dilatacion, col_name="Hospital")
# Delete a column
dilatacion = analyze.del_col(dilatacion[0], col_name="No")
# Rename a column, drop NaN values and reset index
dilatacion = analyze.prepare_table(dilatacion[0], old_col="Sí", new_col="Dilatación Manual")

""" Merge dataframes """
df_join = analyze.merge_dataframes(dilatacion[0], directorio, col_name="Hospital", how="left")
print(df_join.shape)

""" Remove NaN values on column and reset index """
df_join = analyze.drop_nan(df_join, col_name='Long')
print(df_join.shape)

""" Save dataframe """
# export.save_excel(df_join, folder=tables, filename="dilatacion_hospitales", sheet_name="data")
# export.save_json(df_join, folder=tables, filename="dilatacion_hospitales")

df_join.sample(1)

(38, 4)
(35, 4)

,Hospital,Dilatación Manual,Long,Lat
27,Hospital Materno Norte Tamara Bunke,1.0,20.035832,-75.817328