### Imports

In [132]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [139]:
import pandas as pd
import violencia_obstetrica.data.analyze as analyze
import violencia_obstetrica.data.export as export
import violencia_obstetrica.data.load as load

### Load data

In [140]:
data_cuba = load.data_cuba
directorio = load.data_directorio
tables = load.tables
jsons = load.jsons

### Read data as a dataframe

In [141]:
df = load.load_file(file=data_cuba, sheet="base_limpia")
directorio = load.load_file(file=directorio, sheet="base_limpia")

### Create pivot tables

In [142]:
# Create pivot tables from columns 145-155
c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11 = analyze.create_complex_pivot_table(
    df, values=0, index=27, cols=[145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155])
c1.sample(1)

"Evalúa cada una de las posibles consecuencias emocionales de tu experiencia de parto para indicar con qué intensidad te afectaron, yendo desde “Nada en absoluto” para indicar que no te pasó, hasta “Muchísimo” para indicar que te afectó significativamente. [Dificultad para conectar emocionalmente con tu hijo/a]",Bastante,Muchísimo,"Muy poco, manejable",Nada en absoluto
Nombre del hospital dónde diste a luz,,,,
Hospital General Docente Leopoldito Martínez,NaN,NaN,NaN,1.0

### Process pivot tables

In [143]:
# Convert index to a column and create new index  
c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11 = analyze.set_new_index(
    c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, col_name="Hospital")
# Delete a column 
c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11 = analyze.del_col(
    c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, 
    col_name='Nada en absoluto'
)
# Create a column with sum values from rows
c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11 = analyze.sum_rows(
    c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, 
    col_name='Consecuencia'
)
# Drop rows with zero values on a column
c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11 = analyze.drop_zeros(
    c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, 
    col_name='Consecuencia'
)
# Filter columns and reset index
c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11 = analyze.filter_cols(
    c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, 
    regex='^Hospital|^Consecuencia'
)
c1.sample(1)

                                        Hospital  Consecuencia1
7  Hospital General Docente Vladimir Ilich Lenin            1.0

### Merge dataframes based on a column

In [144]:
consecuencias = analyze.merge_dataframes(
   c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, col_name="Hospital" 
)
df_join = analyze.merge_dataframes(consecuencias, directorio, col_name="Hospital", how="left")
print(df_join.shape)
# Remove rows with NaN values on column and reset index
df_join = analyze.drop_nan(df_join, col_name='Long')
print(df_join.shape)
df_join.sample(1)
# Save dataframe
# export.save_excel(df_join, folder=tables, filename="secuelas_hospitales", sheet_name="data")
# export.save_json(df_join, folder=tables, filename="secuelas_hospitales")

(41, 14)
(36, 14)

,Hospital,Consecuencia1,Consecuencia2,Consecuencia3,Consecuencia4,Consecuencia5,Consecuencia6,Consecuencia7,Consecuencia8,Consecuencia9,Consecuencia10,Consecuencia11,Long,Lat
35,Hospital General Docente Dr. Agostinho Neto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,20.157736,-75.21763