### Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import plotly.graph_objects as go
import violencia_obstetrica.data.analyze as analyze
import violencia_obstetrica.data.export as export
import violencia_obstetrica.data.load as load

### Load data

In [3]:
data_cuba = load.data_cuba
directorio = load.data_directorio
tables = load.tables
jsons = load.jsons

### Read data as dataframe

In [4]:
df = load.load_file(file=data_cuba, sheet="base_limpia")
directorio = load.load_file(file=directorio, sheet="base_limpia")

### Create pivot tables

In [5]:
# Create pivot tables from columns 102-109 and index 78, 80 and 81
dfs = analyze.create_complex_pivot_table(
    df, values=0, 
    index=[78, 80, 81], 
    cols=[102, 103, 104, 105, 106, 107, 108, 109])

# Sort dataframes according to index
e, k, d = analyze.sort_by_index(dfs, index=[78, 80, 81])

# Convert index to a column and create new index 
e1, e2, e3, e4, e5, e6, e7, e8 = analyze.set_new_index(e[0], e[1], e[2], e[3], e[4], e[5], e[6], e[7], col_name='Procedimiento')
k1, k2, k3, k4, k5, k6, k7, k8 = analyze.set_new_index(k[0], k[1], k[2], k[3], k[4], k[5], k[6], k[7], col_name='Procedimiento')
d1, d2, d3, d4, d5, d6, d7, d8 = analyze.set_new_index(d[0], d[1], d[2], d[3], d[4], d[5], d[6], d[7], col_name='Procedimiento')

# Rename a column, drop NaN values and reset index
e1, e2, e3, e4, e5, e6, e7, e8 = analyze.prepare_table(
    e1, e2, e3, e4, e5, e6, e7, e8, old_col='Sí', new_col='Secuela')
k1, k2, k3, k4, k5, k6, k7, k8 = analyze.prepare_table(
    k1, k2, k3, k4, k5, k6, k7, k8, old_col='Sí', new_col='Secuela')
d1, d2, d3, d4, d5, d6, d7, d8 = analyze.prepare_table(
    d1, d2, d3, d4, d5, d6, d7, d8, old_col='Sí', new_col='Secuela')

In [6]:
# Delete a row and reset index
e1, e2, e3, e4, e5, e6, e7, e8 = analyze.del_row(
    e1, e2, e3, e4, e5, e6, e7, e8, row_name=0)
k1, k2, k3, k4, k5, k6, k7, k8 = analyze.del_row(
    k1, k2, k3, k4, k5, k6, k7, k8, row_name=0)
d1, d2, d3, d4, d5, d6, d7, d8 = analyze.del_row(
    d1, d2, d3, d4, d5, d6, d7, d8, row_name=0)

# Delete a column
e1, e2, e3, e4, e5, e6, e7, e8 = analyze.del_col(
    e1, e2, e3, e4, e5, e6, e7, e8, col_name=['No'])
k1, k2, k3, k4, k5, k6, k7, k8 = analyze.del_col(
    k1, k2, k3, k4, k5, k6, k7, k8, col_name=['No'])
d1, d2, d3, d4, d5, d6, d7, d8 = analyze.del_col(
    d1, d2, d3, d4, d5, d6, d7, d8, col_name=['No'])

# Replace a value
e1, e2, e3, e4, e5, e6, e7, e8 = analyze.replace_value(
    e1, e2, e3, e4, e5, e6, e7, e8, col_name='Procedimiento',
    old_val='Sí', new_val='Episiotomía'
)
k1, k2, k3, k4, k5, k6, k7, k8 = analyze.replace_value(
    k1, k2, k3, k4, k5, k6, k7, k8, col_name='Procedimiento',
    old_val='Sí', new_val='Kristeller'
)
d1, d2, d3, d4, d5, d6, d7, d8 = analyze.replace_value(
    d1, d2, d3, d4, d5, d6, d7, d8, col_name='Procedimiento',
    old_val='Sí', new_val='Dilatación'
)

### Merge dataframes based on a column

In [7]:
episiotomia = analyze.merge_dataframes(e1, e2, e3, e4, e5, e6, e7, e8, col_name='Procedimiento')
kristeller = analyze.merge_dataframes(k1, k2, k3, k4, k5, k6, k7, k8, col_name='Procedimiento')
dilatacion = analyze.merge_dataframes(d1, d2, d3, d4, d5, d6, d7, d8, col_name='Procedimiento')

# Create a list with dataframes
procedimientos = [episiotomia, kristeller, dilatacion]

# Concatenate the dataframes
df_join = pd.concat(procedimientos, ignore_index=True)
print(df_join.shape)

# Save dataframe
export.save_excel(df_join, folder=tables, file="secuelas_bebe", sheet_name="data")

df_join

(3, 9)

,Procedimiento,Secuela1,Secuela2,Secuela3,Secuela4,Secuela5,Secuela6,Secuela7,Secuela8
0,Episiotomía,2,3,4,8,3,4,4,NaN
1,Kristeller,2,3,4,8,3,4,3,1.0
2,Dilatación,3,4,5,9,4,5,3,2.0