### Imports

In [2]:
import pandas as pd

### Read data from 'xlsx' file

In [3]:
# Read 'xlsx' file as dataframe
df = pd.read_excel('../data/processed/data_cuba.xlsx', index_col=None, sheet_name='base_limpia')
# Create a list with dataframe column names
cols = df.columns

### Create pivot table from dataframe

In [4]:
# Create a pivot table from df
kristeller = pd.pivot_table(df, values=cols[0], index=cols[27],
                         columns=cols[80], aggfunc='count')

### Clean data

In [5]:
# Convert index to columns and reset index
kristeller = kristeller.rename_axis('Hospital').reset_index().rename_axis('', axis='columns')

# Delete column and rename other column
kristeller = kristeller.drop('No', 1).rename(columns={'Sí': 'Kristeller'})

# Remove rows with NaN values on column
kristeller.dropna(subset=['Kristeller'], inplace=True)

# Reset index
kristeller = kristeller.reset_index(drop=True)

# Regular expressions to clean data typos
kristeller['Hospital'].replace(r'\n|^\s', '', regex=True, inplace=True)
kristeller['Hospital'].replace(r'^\s', '', regex=True, inplace=True)

kristeller.shape

/tmp/ipykernel_15343/679524787.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  kristeller = kristeller.drop('No', 1).rename(columns={'Sí': 'Kristeller'})

(33, 2)

### Merge two dataframes based on a column

In [6]:
directorio = pd.read_excel(r'../data/processed/directorio_hospitales.xlsx', index_col=None, sheet_name='base_limpia', converters={'Long':str, 'Lat': str})

# Merge dataframes by a column
df_join = pd.merge(kristeller, directorio, on='Hospital', how='left')

df_join.shape

(33, 4)

In [7]:
# Remove rows with NaN values on column
df_join.dropna(subset=['Long'], inplace=True)
# Reset index
df_join = df_join.reset_index(drop=True)

# Save dataframe as 'xlsx' file
# df_join.to_excel('../data/processed/kristeller_hospitales.xlsx', index = False)
# df_join.to_json('../data/processed/json/kristeller_hospitales.json', orient='index', force_ascii=False)

df_join.sample(3)

,Hospital,Kristeller,Long,Lat
5,Hospital Militar Luis Díaz Soto (Naval),4.0,23.153176268189828,-82.33258355
20,Hospital Ginecobstétrico América Arias (Matern...,10.0,23.14226057538131,-82.39222113
25,Hospital Materno Infantil Manuel Piti Fajardo,2.0,22.854521605755203,-82.03159771